*.csv filter=lfs diff=lfs merge=lfs -text
databases_parquet/eth_1min filter=lfs diff=lfs merge=lfs -text
databases_parquet/sol_1min filter=lfs diff=lfs merge=lfs -text
databases_origin/ETHUSDT.csv filter=lfs diff=lfs merge=lfs -text
databases_origin/SOLUSDT.csv filter=lfs diff=lfs merge=lfs -text
